.container {
    display: block;
    height: auto;
    width: auto;
    background-color: lightgray;
    margin: 20px;
    border: 2px solid green;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

.password-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: auto;
    width: auto;
}

#password {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    font-size: 18px;
    width: auto;
    height: auto;
    background-color: white;
    overflow: auto;

}

.pass-length {
    display: flex;
    justify-content: center;
    padding: 5px 5px 10px 5px;
}


#password-length {
    width: 50%;
    text-align: center;
}

.check-boxes {
    display: block;
    margin: auto;
    width: 40%;
    text-align: left;
    border: 1px solid green;
}

.upper,
.num,
.sym {
    display: flex;
    justify-content: flex-start;
    padding: 2px;
}

#pass-btn {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 5px;
}
